@use "../variables" as *;
.hero {
  background-color: $color-white;

  //   header
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-32;
    align-items: start;
    padding: $space-32;
    &__logo {
      width: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__list {
      display: flex;
      gap: $space-16;
    }

    &__list-item {
      font-size: $font-size-md;
      font-weight: 600;
      color: $color-primary;
      background-color: rgba($color-secondary, 0.1); // 60% opacity
      padding: $space-8 $space-16;
      border-radius: $radius-8;
    }

    &__button {
      border-radius: $radius-8;
      font-size: $font-size-md;
      font-weight: 600;
      color: $color-primary;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: $space-32;
    &__img {
      width: 100%;
      height: auto;
      position: absolute;
      border-radius: $radius-16;
      top: 0;
      left: 0;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: $radius-16;
      }
    }

    &__title {
      font-size: $font-size-8xl;
      font-weight: 700;
      color: rgb(226, 92, 92);
      text-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
      max-width: $space-64 * 10;
      position: absolute;
      margin: $space-24 0;
      text-transform: uppercase;
      right: $space-64;
      top: $space-64;
    }

    &__subtitle {
      position: absolute;
      font-size: $font-size-xl;
      font-weight: 200;
      text-shadow: 0 4px 6px rgba(150, 147, 147, 0.9);
      color: $color-white;
      max-width: $space-64 * 10;
      position: absolute;
      right: $space-64;
      top: $space-64 * 7;
    }
    &__feature1,
    &__feature2,
    &__feature3 {
      position: absolute;
      font-size: $font-size-md;
      font-weight: 200;
      color: $color-white;
      display: flex;
      flex-direction: column;
      gap: $space-4;
      text-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
      padding: $space-16 $space-40 $space-16 $space-4;
      background: rgba(255, 255, 255, 0.12); // transparent
      border-radius: $radius-8;
      border: 1px solid rgba(255, 255, 255, 0.4); // soft white border
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25); // glow
      backdrop-filter: blur(18px) saturate(140%);
    }

    &__feature-1-icon,
    &__feature-2-icon,
    &__feature-3-icon {
      margin-right: $space-16;
      vertical-align: middle;
    }

    &__feature1 {
      top: $space-64;
      right: $space-32 * 6;
    }
    &__feature1 {
      top: $space-64;
      right: $space-32 * 6;
    }
    &__feature1 {
      top: $space-64;
      right: $space-32 * 6;
    }
    &__feature2 {
      top: 200px;
      left: 500px;
    }

    &__feature1-dot,
    &__feature2-dot,
    &__feature3-dot {
      position: absolute;
      bottom: -$space-16;
      left: -$space-16;
      width: $space-12;
      height: $space-12;
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
      border-radius: 50%;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background-color: rgba(248, 248, 248, 0.363);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(2);
        animation: pulse 2s infinite;
        z-index: -1;
      }

      //
    }
  }
}
